.about-section {
  position: relative;
  width: 100%;
  min-height: 100vh;

  .about-frame {
    position: absolute;
    inset: 0;
    background: url('/assets/images/pages/home/edu-about-section.png') center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}