.brands-section {
  width: 1440px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  
  .brands-content {
    padding: 80px;
    text-align: center;
    
    p {
      color: #0F1018;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
    }
  }
  
  @media (max-width: 1440px) {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .brands-content {
      padding: 40px 24px;
    }
  }
}