.newsletter-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0px 0px 120px;
  width: 100%;
  height: 516px;
  background: #EDEBE5;
  position: relative;

  .content-frame {
    display: flex;
    gap: 68px;
    width: 100%;
    align-items: center;
    justify-content: center;

    .title {
      color: #1E1E1E;
      font-family: "At Gambit";
      font-size: 56px;
      font-style: normal;
      font-weight: 600;
      line-height: 108%;
      text-align: left;
      margin: 0;
      width: 100%;
    }

    .input-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      padding: 10px 0px 10px 24px;
      width: 580px;
      height: 51px;
      background: #FFFFFF;
      border: 1px solid #D1D5DB;
      box-shadow: 0px 1px 2px 0px rgba(18, 26, 43, 0.05);

      .email-input {
        color: #6B7280;
        font-family: "At Gambit";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        border: none;
        outline: none;
        background: transparent;
        flex: 1;

        &::placeholder {
          color: #6B7280;
          font-family: "At Gambit";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }

      .subscribe-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 24px;
        width: 192px;
        height: 50px;
        background: linear-gradient(90deg, rgba(15, 16, 24, 1) 0%, rgba(60, 60, 44, 1) 100%);
        border: none;
        cursor: pointer;

        color: #FFF;
        text-align: center;
        font-family: "At Gambit";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120.192%;
      }
    }

    .left-content {
      display: flex;
      flex-direction: column;
      gap: 68px;
      width: 707px;
    }

    .right-content {
      flex-shrink: 0;
      
      svg {
        max-width: 100%;
        height: auto;
      }
    }
  }
}